{% extends "base.html" %}

{% block title %}
	{{ page.title }}
{% endblock title %}

{% block content %}
    {% if not page.get_approval(version) and author %}
        <div class="alert alert-warning" role="alert">
            This edit has not been approved.
            <form action="{{ url_for('wiki.approve_edit', url=page.url, version=version) }}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-sm btn-success">Approve</button>
            </form>
            <form action="{{ url_for('wiki.disapprove_edit', url=page.url, version=version) }}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-sm btn-danger">Disapprove</button>
            </form>
        </div>
    {% endif %}
	{{ page }}
{% endblock content %}


{% block sidebar %}
{% if page.tags %}
<h3>Tags</h3>
  <ul>
      {% for tag in page.tags.split(',') %}
        <li><a href="{{ url_for('wiki.tag', name=tag.strip()) }}">{{ tag|trim }}</a></li>
      {% endfor %}
  </ul>
{% endif %}
    <ul class="nav nav-tabs nav-stacked">
	    <li><a href="{{ url_for('wiki.display', url=page.url.split("/")[0]) }}">Back to {{ page.url.split("/")[0] }}</a></li>
    </ul>
{% endblock sidebar %}